<p><strong>FEDERAL UNIVERSITY OF TECHNOLOGY AKURE PAST PRO-CHANCELLORS/CHAIRMAN OF COUNCIL</strong></p>

<table cellpadding="0" cellspacing="5" style="width:704px;" width="704">
	<tbody>
		<tr>
			<td style="width:415px;">&nbsp;</td>
			<td style="width:204px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<hr />
<div class="row">
	<div class="col-xs-6 col-sm-4">&nbsp;</div>

	<div class="col-sm-4"><img alt="The Chairman" center-align="" class="img-responsive img-circle img-thumbnail" src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/10.jpg" width="100%" />
	<h4 class="text-primary text-center about">Dr. Godknows Boladei Igali, <em>OON</em></h4>
	<em> </em>

	<h5 class="text-danger text-center"><em><em>Chairman Governing Cocuncil </em> 2019 Till Date</em></h5>
	<em> </em></div>

	<div class="col-xs-4 col-sm-4">&nbsp;</div>
</div>


<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/8.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Dr. Ikechukwu Odikpo </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/9.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Dr. (Mrs) Bridget Zidon </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/11.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Chief Jamiu Jimoh Afolabi Ekungba</em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/12.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Alhaji Nasir Isa Abubakar </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/16.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>MR A. J OWOICHO </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/13.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Comrade  Olaitan Adesanya Adesomoju</em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/14.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Adenike Temidayo Oladiji </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/15.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Mr. Richard Adeyinka Arifalo </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Secretary</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/1.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. (Mrs.) Oluwatooyin Faramade Osundahuns</em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/2.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Olusoga Akin Fasoranbaku </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/3.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Boniface Kayode Alese </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/4.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. (Mrs.) Eunice Oluwayemisi Adeparusi</em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/7.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Stephen Ayodeji Anjorin </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/17.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. B. O Akinyele </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/18.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Deji Rufus Ogunsemi  </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/19.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Prof. Philip Gbenro Oguntunde </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em> Member </em></em></h5>
		<em> </em>
	</div>

	<!-- <div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/17.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>Name </em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div>

	<div class="col-xs-6 col-sm-4"><em><img alt="Member" center-align="" class="img-responsive img-circle img-thumbnail" 
		src="https://www.futa.edu.ng/futacms/media/page_images/vc/content/18.jpg" width="100%" /> </em>

		<h4 class="text-primary text-center about"><em>name</em></h4>
		<em> </em>

		<h5 class="text-danger text-center"><em><em>Member</em></em></h5>
		<em> </em>
	</div> -->

	<div class="clearfix visible-xs-block"><em>&nbsp;</em></div>
</div>




